{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form.as_p }}
        {{ message }}
        <br>
        <button type="submit" class="btn btn-primary"> Registrar </button>
    </form>
</div>
{% endblock content %}