{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Registrarse</h1>
    <form method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary"> Registrar </button>
    </form>
</div>
{% endblock content %}