{% extends 'base.html' %}


{% block head %}
<title>
    Administracion Crear Tienda
</title>
{% endblock head %}

{% block content %}

<section class='container'>
    <h1>{{ message }}</h1>
    {% if tienda %}

    <h1>{{ tienda.nombre_tienda }}</h1>
    <h1>{{ tienda.direccion }}</h1>

    {% endif %}


    <form action='{% url 'administracion:crear' %}' method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="nombreTienda" class="col-sm-2 col-form-label">Nombre Tienda</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nombre" id="nombreTienda">
            </div>
        </div>
        <div class="form-group row">
            <label for="direccionTienda" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="direccion" id="direccionTienda">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="encagardoTienda" class="col-sm-2 col-form-label">Encargado Tienda</label>
            <div class="col-sm-10">
                <select name="encargado" id="encagardoTienda">
                    {% for user in user_list %}
                        <option value="{{user.pk}}">{{user}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type='submit' name="button" value="crear" class="btn btn-primary">Crear</button>
    </form>
</section>
{% endblock content %}