{% extends 'base.html' %}


{% block head %}
<title>
    Administracion Crear Tienda
</title>
{% endblock head %}

{% block content %}

<section class='container'>
    <h1>{{ message }}</h1>
    {% if tienda %}

    <h1>{{ tienda.nombre_tienda }}</h1>
    <h1>{{ tienda.direccion }}</h1>

    {% endif %}


    <form action='{% url 'administracion:crear' %}' method="POST">
        {% csrf_token %}
        {{ tienda_form.as_p }}
        {% if not perms.administracion.add_tienda %}
        <button type='submit' name="button" value="crear" class="btn btn-primary">Crear</button>

        {% else %}
        No tiene permiso
        {% endif %}
    </form>
</section>
{% endblock content %}