{% extends 'base.html' %}

{% block head %}
<title>
    Administracion Hola mundo
</title>
{% endblock head %}

{% block content %}
<section class="container">
    <a href='{% url 'administracion:crear' %}' class="btn btn-primary"> Crear Tienda </a>
</section>
{% endblock content %}