{% extends 'base.html' %}

{% block head %}
<title>
    Tienda Index
</title>
{% endblock head %}

{% block content %}
<section class="container">
    <h1>Hola Tienda</h1>
</section>
{% endblock content %}